.skillsSection {
    background-color: #f4f4f9;
    padding: 40px 20px;
    border-radius: 8px;
  }
  
  .skillsSection h3 {
    font-size: 2rem;
    color: #3f51b5;
    margin-bottom: 20px;
  }
  
  .skillBox {
    transition: transform 0.3s ease;
  }
  
  .skillBox:hover {
    transform: scale(1.05);
  }
  
  .skillIcon {
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .skillIcon:hover {
    color: #ff4081;
    transform: scale(1.2);
  }

  .skillsSection {
    background-color: #f4f4f9;
    padding: 40px 20px;
    border-radius: 8px;
  }
  
  .skillsSection h3 {
    font-size: 2rem;
    color: #3f51b5;
    margin-bottom: 20px;
  }
  
  .skillBox {
    transition: transform 0.3s ease;
  }
  
  .skillBox:hover {
    transform: scale(1.05);
  }
  
  .skillIcon {
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .skillIcon:hover {
    color: #ff4081;
    transform: scale(1.2);
  }
  
  .skillsSection {
    background-color: #f4f4f9;
    padding: 40px 20px;
    border-radius: 8px;
  }
  
  .skillsSection h3 {
    font-size: 2rem;
    color: #3f51b5;
    margin-bottom: 20px;
  }
  
  .skillBox {
    transition: transform 0.3s ease;
  }
  
  .skillBox:hover {
    transform: scale(1.05);
  }
  
  .skillIcon {
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .skillIcon:hover {
    color: #ff4081;
    transform: scale(1.2);
  }
  .categoryskill:hover{
    background-color: rgb(243, 234, 234);
  }